<div class="pure-g">
    <div class="pure-u-1">
        <div class="header">
            <div class="title">奖品发放记录</div>
            <div class="button-bar">
                <a href="#/prizesent/insert">发放奖品</a><!--<a href="javascript:void(0)" ng-click="delete();">删除所选记录</a>-->
            </div>
        </div>
    </div>
    <div class="pure-u-1">
        <form class="pure-form">
            <fieldset>
                <legend></legend>
                <div class="pure-g" style="padding-left: 10px;">
                    <div class="pure-u-1-6">
                        <label>
                            <span>奖品编号:</span><input type="text" class="pure-input-2-3" ng-model="data.GiftSysNo" />
                        </label>
                    </div>
                    <div class="pure-u-1-6">
                        <label>
                            <span>发放时间:</span><input type="text" ui-date class="pure-input-2-3" ng-model="data.GrantDate" />
                        </label>
                    </div>
                    <div class="pure-u-1-6">
                        <label>
                            <span>发放人:</span><input type="text" class="pure-input-2-3" ng-model="data.GrantPerson" />
                        </label>
                    </div>
                    <div class="pure-u-1-6">
                        <label>
                            <span>发放地点:</span><input type="text" class="pure-input-2-3" ng-model="data.GrantPlace" />
                        </label>
                    </div>

                    <div class="pure-u-1-6">
                        <button class="pure-button button-secondary" ng-click="select()">
                            查询 <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="pure-u-1-6">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="pure-u-1">
        <table class="pure-table" style="width: 100%;">
            <thead>
                <tr>
                    <!--<th></th>-->
                    <th>#</th>
                    <th>奖品编号</th>
                    <th>奖品名称</th>
                    <th>发放数量</th>
                    <th>发放时间</th>
                    <th>发放人</th>
                    <th>发放地点</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in result">
                   <!-- <td>
                        <input type="checkbox" value="{{a.SysNo}}" ng-model="a.Checked" /></td>-->
                    <td>{{a.SysNo}}</td>
                    <td>{{a.GiftSysNo}}</td>
                    <td>{{a.GiftName}}</td>
                    <td>{{a.GrantCounts}}</td>
                    <td>{{a.GrantDate}}</td>
                    <td>{{a.GrantPerson}}</td>
                    <td>{{a.GrantPlace}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pure-paginator" my-pager ng-model="pager" first-load="true">
            <li><a class="pure-button prev" href="#">&#171;</a></li>
            <li ng-repeat="a in pager.pages"><a class="pure-button" ng-click="pager.goto(a)">{{a}}</a></li>
            <li><a class="pure-button next" href="#">&#187;</a></li>
        </ul>
    </div>
</div>

